rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isUs() {
      return request.auth != null
        && request.auth.token.email in [
          'shanemsap@gmail.com',
          'mollymaclaughlin@gmail.com',
          'molly.maclaughlin@gmail.com'
        ];
    }
    match /hub/{docId} { allow read, write: if isUs(); }
    match /taps/{id} { allow read, create: if isUs(); allow update, delete: if false; }
    match /activity/{id} { allow read, write: if isUs(); }
    match /comments/{id} { allow read, write: if isUs(); }
    match /inbox/{id} { allow read, write: if isUs(); }
  }
}
